<div class="row" style="border: 2px solid blue;">
  <div class="col-xs-12" >
    <div
      class="panel panel-default">
      <div class="panel-heading" #heading>{{ element.name }}</div>
      <div class="panel-body">
        permite inserir component entre as tags dos seletores
        <ng-content ></ng-content>
        <!-- <p>
          <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p> -->
      </div>
    </div>
  </div>
</div>
